{
  "apiKey": "WEB_CLIENT_API_KEY",
  "authDomain": "projectId.firebaseapp.com",
  "databaseURL": "https://projectId.firebaseio.com",
  "projectId": "projectId",
  "storageBucket": "projectId.appspot.com",
  "messagingSenderId": "message-sender-id"
}